.dash_wrap {
    background: linear-gradient(169deg, rgba(255,255,255,1) 0%, rgba(124, 202, 176, 1) 0%, rgba(6,147,247,1) 100%);
    padding: 3rem 0 0 3rem;
    font-size: 12px;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  
  .site_wrap {
    display: grid;
    grid-template-columns: 280px 1fr;
    box-shadow: -3px 5px 15px #3333337a;
    border-radius: 33px;
  }

  .profile_card {
    overflow: hidden;
    position: absolute;
    top: 15px;
    right: 60px;
    left: initial;
    height: 150px;
    border-radius: 23px;
    box-shadow: 0px 3px 6px #ccc8c8;
    background: #27282b;
    width: 200px;
    .profile_image{
        position: absolute;
        height: 88px;
        width: 88px;
        overflow: hidden;
        margin: auto;
        left: 0;
        right: 0;
        border-radius: 50%;
        top: -9px;
        border: 3px solid #826986;
        bottom: 0;
        img{
            max-width: initial;
            height: 100%;
        }
    }
    .profile_name{
        position: absolute;
        text-align: center;
        bottom: 8px;
        width: 100%;
        margin: auto;
        a{
            color: #fff;
            border-bottom: 1px solid #fff;
            text-transform: capitalize;
        }
    }
    .stripe_wrapper {
        overflow: hidden;
        height: 100%;
        width: 125%;
        transform: scale(1);
        position: relative;
        float: right;
        left: 20%;
        &_stripe{
            position: absolute;
            height: 100px;
            width: 215px;
            &_one,
            &_two,
            &_three,
            &_four {
                background: rgba(225,78,202,.6);
                background: linear-gradient(90deg,rgba(225,78,202,.6) 0,rgba(225,78,202,0));
            }
            &_three,
            &_four {
                right: -45px;
            }
            &_one{
                transform: rotate(150deg);
                margin-top: -52px;
                margin-left: -50px;
            }
            &_two{
                transform: rotate(30deg);
                margin-top: -10px;
                margin-left: -70px;
            }
            &_three{
                transform: rotate(170deg);
                margin-top: -70px;
            }
            &_four{
                transform: rotate(150deg);
                margin-top: -25px;
            }
        }
    }
  }
  
  .site_nav {
    background: #26282b;
    color: white;
    border-top-left-radius: 2rem;
    display: flex;
    flex-direction: column;
    a {
      color: inherit;
    }
    ul {
      margin-bottom: auto;
      li {
        a {
          display: block;
          padding: 0.75rem 0.5rem 0.75rem 2rem;
          position: relative;
          font-size: 18px;
          &:hover,
          &:focus {
            color: #4371c5;
          }
        }
        &.active > a {
          background: linear-gradient(to right, #202020, transparent);
          &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background: #4676cd;
            width: 5px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }
      }
      ul {
        padding-left: 1rem;
        margin-bottom: 0.5rem;
        a {
          padding-top: 0.4rem;
          padding-bottom: 0.4rem;
        }
      }
    }
  }
  
  .note {
    background: #1e1f21;
    border-radius: 10px;
    padding: 1rem;
    position: absolute;
    margin: 0;
    left: 11px;
    bottom: 50px;
    width: 230px;

    h3 {
      font-size: 0.9rem;
      margin: 0 0 0.4rem 0;
      color: #2684f5;
    }
    p {
      color: #717783;
    }
  }
  
  .name {
    font-size: 1.3rem;
    position: relative;
    margin: 2rem 0 2rem 0;
    padding: 0 2.5rem 0.5rem 2rem;
    width: calc(100% - 3rem);
    svg {
      position: absolute;
      fill: white;
      width: 16px;
      height: 16px;
      right: 0;
      top: 7px;
    }
    &::after {
      content: "";
      width: 8px;
      height: 8px;
      background: #4777ce;
      border-radius: 20px;
      position: absolute;
      top: 6px;
      right: -2px;
    }
  }
  
  main {
    border-top-left-radius: 2rem;
    background: #fff;
    margin-left: -2rem;
    position: relative;
    > header {
      padding: 3rem 3rem 0 3rem;
    }
  }
  
  .content_columns {
    padding: 3rem;
    display: flex;
    background: #e5e5e9;
    .col {
      min-height: 500px;
      width: 25%;
      padding: 1rem;
      background: #ebecee;
      margin-right: 1rem;
      box-shadow: 0 0 5px rgba(black, 0.04);
      border-radius: 5px;
      &:nth-child(1) {
        border-top: 4px solid #50aaee;
      }
      &:nth-child(2) {
        border-top: 4px solid #d56ec7;
      }
      &:nth-child(3) {
        border-top: 4px solid #e37e55;
      }
      &:nth-child(4) {
        border-top: 4px solid #ebbd41;
      }
    }
  }
  
  .item {
    background: white;
    box-shadow: 0 2px 4px rgba(black, 0.07);
    min-height: 50px;
    border-radius: 5px;
    margin: 0 0 0.5rem 0;
  }
  
  .nav_tabs {
    a {
      margin-right: 2rem;
      display: inline-block;
      padding: 1rem 0 1rem 0;
      font-size: 1.15rem;
      color: #8c939e;
      position: relative;
      &.active {
        color: #101620;
        font-weight: 600;
        span {
          background: #d9dfea;
          color: #5887d1;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background: #457ace;
          border-top-right-radius: 10px;
          border-top-left-radius: 10px;
        }
      }
      span {
        border-radius: 10px;
        font-size: 0.8rem;
        padding: 0.25rem 0.4rem;
        font-weight: 600;
        vertical-align: middle;
        position: relative;
        top: -2px;
        background: #dfe0e2;
        color: #868d99;
      }
    }
  }
  